.PhoneConfirmation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__input-row {
        display: flex;

        label {
            margin-right: 64px;
            margin-top: 13px;
            white-space: nowrap;
        }
    }

    &__input-column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__info-block {
        display: flex;
        align-items: center;
        color: var(--type-secondary);
        margin-top: 18px;
        margin-bottom: 4px;

        img {
            margin-right: 13px;
        }
    }
}
