.InputWrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    width: 100%;
}

.Input {
    height: 38px;
    width: 100%;

    padding: 0 14px;

    background-color: #fff;
    color: var(--type-main);

    border-radius: 1px;
    border: 1px solid rgba(20, 27, 36, 0.1);

    transition: 0.2s;

    &:focus {
        border-color: rgba(20, 27, 36, 0.2);
        outline: rgba(20, 27, 36, 0.2);
    }

    &::placeholder {
        color: var(--type-placeholder);
    }

    &--error {
        border-color: rgba(183, 76, 81, 0.1);
        box-shadow: 0px 0px 5px rgba(183, 76, 81, 0.2);
    }
}

.InputError {
    margin-top: 16px;
    color: var(--type-error);
}
