@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import-normalize; /* bring in normalize.css styles */
@import "/assets/styles/colors";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 14px;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fbfcfc;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Open Sans", sans-serif;
}
